root {
  --box-size: 20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 600px;
  aspect-ratio: 1/1;
  margin: 0 auto;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.6) 4px 4px 6px 0;
  cursor: url(/imgs/customCursor.svg) 8 8, auto;
}

.box {
  flex: 0 0 calc(100% / var(--box-size));
  aspect-ratio: 1/1;
  background-color: #b5f7ea;
  border: 1px solid blue;
}
