root {
  --box-size: 20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 600px;
  aspect-ratio: 1/1;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  border: 6px solid rgb(80, 57, 24);
  box-shadow: rgba(0, 0, 0, 0.6) 6px 6px 12px 0;
  cursor: url(imgs/customCursor.svg) 8 8, auto;
}

.box {
  flex: 0 0 calc(100% / var(--box-size));
  aspect-ratio: 1/1;
  background-color: #f3f3e0;
}

.outline .box {
  outline: solid 1px rgba(80, 57, 24, 0.3);
}
